<footer>
    <div class="container">
        <div class="row">
<!--             <div class="col-xs-12 col-sm-3">
                <div class="img-wrapp">
                    <img src="img/logo.png" alt="FlyZen">
                </div>
            </div> -->
            <div class="col-xs-12 col-sm-3">
                <h3 class="text">Contact us</h3>
                <p class="description">United States</p>
                <p class="secondary-text">244 Madison Avenue St, NY <br/>
                    New York City, 10016-2817</p>
            </div>                            
            <div class="col-xs-12 col-sm-3">
                <h3 class="text">&nbsp;</h3>
                <p class="description">EMEA</p>
                <p class="secondary-text">6 Maskit St. <br/>
                    Herzelia 46773, Israel</p>
            </div>
            <div class="col-xs-12 col-sm-3">
                <h3 class="text">Have a question?</h3>
                <p class="secondary-text">Send your issue to us, we can solve it.</p>
                <p><a href="mailto:info@flyzen.com" class="description">help@flyzen.co</a></p>
            </div>
            <div class="col-xs-12 col-sm-3">
                <h3 class="text">Let’s be friends</h3>
                <p>
                    <span class="social-wrapp"><a href="https://www.facebook.com/flyzen-1394932263888027/"><i class="fa fa-facebook"></i></a></span>
                    <span class="social-wrapp"><a href="https://twitter.com/FlyzenC"><i class="fa fa-twitter"></i></a></span>
                    <span class="social-wrapp"><a href="https://www.linkedin.com/company-beta/17995379"><i class="fa fa-linkedin"></i></a></span>
                    <span class="social-wrapp"><a href="https://www.instagram.com/flyzen.co/"><i class="fa fa-instagram"></i></a></span>
                </p>
            </div>
        </div>
    </div>
</footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://223617.selcdn.ru/Globals/js/textareaAutosize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/4.1.1/mediaelement-and-player.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/4.1.1/mediaelementplayer.min.js"></script>
    <script src="https://223617.selcdn.ru/Globals/js/bootstrap-select/bootstrap-select.js"></script>
    <script src="js/main.js"></script>
    <script src="js/plugins.js"></script>
    <!-- <script src="js/scrollSpy.min.js"></script> -->         
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>-->
